body{
    background-image: url(../media/wallp.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

td{
    padding: 15px;
}

input{
  background-color: rgba(255, 255, 255, 0.699);
  backdrop-filter: blur(2px);
  border-radius: 50px 10px 50px 10px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.473);
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

button{
  width: 50%;
  padding: 15px;
  border: none;
  background-color: rgb(221, 221, 221);
}

.game_table{
  position: fixed;

  background-color: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.295), -5px -5px 10px 0px rgba(255, 255, 255, 0.527);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu{
  padding: 10px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(2px);
  border-radius: 50px 10px 50px 10px;
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.295), -5px -5px 10px 0px rgba(255, 255, 255, 0.527);
  overflow-y: scroll;
  width: 500px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu::-webkit-scrollbar{
  display: none;
}

.buttons{
  margin-top: 10px;
}

.game-div{
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.493);
  backdrop-filter: blur(2px);
  border-radius: 50px 10px 50px 10px;
  box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.473);
}



/* DIRECTION BUTTON STYLES */
.directions{
  margin: 0 auto;
  width: 300px;
}

.upButton, .otherButtons{
  text-align: center;
}

.upButton button, .otherButtons button{
  width: auto;
  padding: 10px;
  margin-top: 5px;
}