<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Snake</title>

  <link rel="stylesheet" href="css/chat.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <link rel="stylesheet" href="css/styles.css">
  <script src="js/lib/sweetalert.js"></script>
  <script src="js/lib/socket.io.js"></script>
  <script>
      const socket = io();
  </script>
</head>
<body>

  <%-include('./partials/chat')%>

  <div class="count">
    <h1>
      <span id="n-count">3</span>
    </h1>
  </div>

  <div class="player-screen" style="display: none;text-align: center; color: white;">
    <h1>PLAYER VS PLAYER</h1>
    <p>
      Player 1: 0 points - Player 2: 4 points
    </p>
  </div>

  <%-include('./partials/menu')%>

  <div class="render">

  </div>

  <!-- GAME AUDIOS -->
  <audio id="alert-audio" src="media/audios/selection.wav"></audio>
  <audio id="in-game-audio" src="media/audios/creepy.mp3" loop></audio>

  <!-- GAME CLASSES -->
  <script src="classes/online.class.js"></script>
  <script src="classes/matrix.class.js"></script>
  <script src="classes/snake.class.js"></script>
  <script src="classes/interactivity.class.js"></script>
  <script src="classes/game-render.class.js"></script>
  <!-- END OF GAME CLASSES -->

  <script src="js/index.js"></script>
  <script src="js/session.js"></script>
  <script src="js/socket-client.js"></script>
  <script>
      function c(){
          socket.emit("clearPlayers", "si");
      }
  </script>
</body>
</html>